.container {
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
}

.col-md {
    display: flex;
    min-width: 200px;
}

.card {
    margin: 0.7rem;
    padding: 0.4rem;
    border-radius: 7%;
    min-height: 49vh;

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        text-align: center;
        height: 300px;
        width: auto;
        // height: 28vh;
        // padding: 0.2rem;

        h3 {
            margin: 1rem ;
            font-weight: 700;
            font-size: 21px;
            line-height: 16px;
        }
    }
}