@import 'config';
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
}

a {
    text-decoration: none;
    color: set-text-color($primary-color);
}

ul {
    list-style: none;
}

.text-secondary {
    color: $secondary-color;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 400;
    color: #fff;
    width: fit-content;

    &.lg-heading {
        font-size: 6rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        text-shadow: 4px 4px 4px rgba(darken($secondary-color, 28), 0.5);
    }

    &.sm-heading {
        margin-bottom: 2rem;
        text-shadow: 3px 3px 3px rgba(darken($secondary-color, 28), 0.5);
        padding: 0.2rem 1rem 0.2rem 2rem;
    }
}

header {
    @include set-background(darken($primary-color, 4));
    position: fixed;
    width: 100%;
    height: 42px;
    border-bottom: solid $secondary-color 4px;
    
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
        }

        a {
            padding: 0.4rem;
            @include easeOut;

            &:hover {
                color: lighten($secondary-color, 49);
            }
        }
    }
}

main {
    display: grid;
    padding-top: 4vh;
}

// Showcase section
#showcase {
    @include background($straight-aerial-image, $secondary-color);
    // background-image: url(../img/three-horse-banner.png);

    #headings {
        // background: rgba(lighten($primary-color, 2), $background-opacity);
        border-radius: 10% 30% 30% 10%;
    }

    .container {
        display: flex;
        height: 50vh;
        align-items: end;
    }
}

#tidbits {
    @include set-background(rgba(darken($primary-color, 7), 0.9));
    padding: 3rem;
    border-top: solid $secondary-color 4px;
    border-bottom: solid $secondary-color 4px;

    .container {
        // margin: 0 3px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
    }

    .tid-1, .tid-3 {
        @include set-background(rgba(darken($tertiary-color, 7), 1));

        h3 {
            color: set-text-color(lighten($tertiary-color, 7));
        }

        a {
            @include set-background(rgba(darken($secondary-color, 7), 1));

            &:hover {
                color: lighten($primary-color, 35);
            }
        }
    }

    .tid-2 {
        @include set-background(rgba(darken($secondary-color, 7), 1));

        h3 {
            color: set-text-color(darken($secondary-color, 7));
        }

        a {
            @include set-background(rgba(darken($tertiary-color, 7), 1));

            &:hover {
                color: lighten($primary-color, 21);
            }
        }
    }
}

#testimonials {
    // @include background($straight-aerial-image, $secondary-color);
    @include background($horse-banner-image, $tertiary-color);
    background-image: $horse-banner-image;
    padding: 3rem;

    .container {
        background-color: #ee6f1a;
    }
}

#spacer {
    height: 300px;
    background-color: yellow;
}

#under-spacer{
    background: #333;
}

footer {
    @include set-background(darken($primary-color, 4));
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    border-top: solid $secondary-color 4px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #sitehound {
            @include easeOut;
            color: darken($tertiary-color, 14%);

            &:hover {
                color: #ee6f1a;
            }
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .up-arrow {
                padding: 0.5rem;
            }
        }

        .social-nav {
            display: flex;
            
            .soc-li {
                padding: 0.3rem;
            }

            a {
                @include easeOut;
    
                &:hover {
                    color: lighten($secondary-color, 42);
                }
            }
        }
    }
}