@import 'config';
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: set-text-color($primary-color);
}

ul {
    list-style: none;
}

.text-secondary {
    color: $secondary-color;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

header {
    @include set-background($primary-color);
    position: fixed;
    width: 100%;
    height: 42px;
    
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
        }

        a {
            padding: 0.4rem;
            @include easeOut;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

main {
    padding-top: 42px;
}

#showcase {
    @include set-background($secondary-color);
    // background-image: url('../img/background5.jpg');
}

#tidbits {
    @include set-background($primary-color);
}

#testimonials {
    @include set-background(#333);
}

#spacer {
    height: 300vh;
}

footer {
    @include set-background($primary-color);
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    border-top: solid $secondary-color 4px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #sitehound {
            @include easeOut;
            color: darken($tertiary-color, 14%);

            &:hover {
                color: #ee6f1a;
            }
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .up-arrow {
                padding: 0.5rem;
            }
        }

        .social-nav {
            display: flex;
            
            .soc-li {
                padding: 0.3rem;
            }

            a {
                @include easeOut;
    
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}