@import 'config';
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: set-text-color($primary-color);
}

ul {
    list-style: none;
}

body {
    font-family: $font-stack;
    height: 300vh;
}

header {
    @include set-background($primary-color);
    position: fixed;
    width: 100%;
    
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
        }

        a {
            padding: 0.4rem;
            @include easeOut;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

main {
    padding-top: 9rem;
}

footer {
    @include set-background($primary-color);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid $secondary-color 4px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #sitehound {
            @include easeOut;
            color: darken($tertiary-color, 14%);

            &:hover {
                color: #ee6f1a;
            }
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .up-arrow {
                padding: 0.5rem;
            }
        }

        .social-nav {
            display: flex;
            
            .soc-li {
                padding: 0.3rem;
            }

            a {
                @include easeOut;
    
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}